In [1]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
from seleniumbase import Driver

In [2]:
def aggregate_win(list_of_results):
    sum = 0
    for result in list_of_results: # iterate over marks for all the subjects
        if result == 1:
            sum += 1 # count the number of subjects with more than 50 marks

    return sum

def aggregate_lost(list_of_results):
    sum = 0
    for result in list_of_results: # iterate over marks for all the subjects
        if result == 2:
            sum += 1 # count the number of subjects with more than 50 marks

    return sum

def aggregate_draw(list_of_results):
    sum = 0
    for result in list_of_results:
        if result == 0:
            sum += 1 

    return sum

def aggregate_total(list_of_results):
    sum = 0
    for result in list_of_results: 
        sum += 1

    return sum

In [3]:
def if_home_win(row):
    score = row['Score']
    score_array_with_pen = score.split()
    if len(score_array_with_pen) > 2:
        score = score_array_with_pen[1]
    else:
        score = row['Score']
    score_array = score.split('–')

    #home win
    if int(score_array[0]) > int(score_array[1]):
        return 1
    elif int(score_array[0]) == int(score_array[1]):
        return 0
    else:
        return 2

In [4]:
def crawl_html(url):
    driver = Driver(uc=True, headless=False)

    # open URL with a 6-second reconnect time to bypass the initial JS challenge
    driver.uc_open_with_reconnect(url, reconnect_time=6)
    page_html = driver.get_page_source()

    driver.close()

    return page_html

def fetch_football_data(url):
    page_html = crawl_html(url)

    matches = pd.read_html(page_html, match = "Scores & Fixtures")
    data = matches[0]

    clean_data = data[(data['Score'].notna()) & (data['Home'] != 'Home')]
    if clean_data.empty:
        raise ValueError("Empty dataframe after filter")
    
    clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)

    match_result = clean_data[['Home', 'match_result']].copy()
    df_to_excel = clean_data.groupby('Home').agg(
        wins=('match_result', aggregate_win),
        loses=('match_result', aggregate_lost),
        draws=('match_result', aggregate_draw),
        total=('match_result', aggregate_total)
    )
    return df_to_excel.reset_index()

In [5]:
e = ValueError("Empty dataframe after filter")

In [6]:
str(e) == "Empty dataframe after filter"

True

In [5]:
url_seriaA = 'https://fbref.com/en/comps/11/schedule/Serie-A-Scores-and-Fixtures'
url_premier_league = 'https://fbref.com/en/comps/9/schedule/Premier-League-Scores-and-Fixtures'
url_la_liga = 'https://fbref.com/en/comps/12/schedule/La-Liga-Scores-and-Fixtures'
url_bundesliga = 'https://fbref.com/en/comps/20/schedule/Bundesliga-Scores-and-Fixtures'
url_ligue_1 = 'https://fbref.com/en/comps/13/schedule/Ligue-1-Scores-and-Fixtures'
url_ligue_2 = 'https://fbref.com/en/comps/60/schedule/Ligue-2-Scores-and-Fixtures'
url_czech_liga = 'https://fbref.com/en/comps/66/schedule/Czech-First-League-Scores-and-Fixtures'
url_league_one = 'https://fbref.com/en/comps/15/schedule/League-One-Scores-and-Fixtures'
url_league_two = 'https://fbref.com/en/comps/16/schedule/League-Two-Scores-and-Fixtures'
url_national_league = 'https://fbref.com/en/comps/34/schedule/National-League-Scores-and-Fixtures'
url_championship = 'https://fbref.com/en/comps/10/schedule/Championship-Scores-and-Fixtures'
url_segunda = 'https://fbref.com/en/comps/17/schedule/Segunda-Division-Scores-and-Fixtures'
url_primera_argen = 'https://fbref.com/en/comps/21/schedule/Liga-Profesional-Argentina-Scores-and-Fixtures'
url_a_league = 'https://fbref.com/en/comps/65/schedule/A-League-Men-Scores-and-Fixtures'
url_first_league = 'https://fbref.com/en/comps/67/schedule/Bulgarian-First-League-Scores-and-Fixtures'
url_belgian_pro_league = 'https://fbref.com/en/comps/37/schedule/Belgian-Pro-League-Scores-and-Fixtures'
url_hnl = 'https://fbref.com/en/comps/63/schedule/Hrvatska-NL-Scores-and-Fixtures'
url_superliga = 'https://fbref.com/en/comps/50/schedule/Danish-Superliga-Scores-and-Fixtures'
url_k_league = 'https://fbref.com/en/comps/55/schedule/K-League-1-Scores-and-Fixtures'
url_eredivisie = 'https://fbref.com/en/comps/23/schedule/Eredivisie-Scores-and-Fixtures'
url_greek = 'https://fbref.com/en/comps/27/schedule/Super-League-Greece-Scores-and-Fixtures'
url_mls = 'https://fbref.com/en/comps/22/schedule/Major-League-Soccer-Scores-and-Fixtures'
url_serieA = 'https://fbref.com/en/comps/24/schedule/Serie-A-Scores-and-Fixtures'
url_serieB = 'https://fbref.com/en/comps/38/schedule/Serie-B-Scores-and-Fixtures'
url_saudi = 'https://fbref.com/en/comps/70/schedule/Saudi-Pro-League-Scores-and-Fixtures'

links = [url_seriaA, url_premier_league, url_la_liga, 
         url_bundesliga, url_ligue_1, url_ligue_2, 
         url_czech_liga, url_league_one, url_league_two, 
         url_national_league, url_championship, url_segunda,
         url_primera_argen, url_a_league, url_first_league, 
         url_belgian_pro_league, url_hnl, url_superliga,
         url_k_league, url_eredivisie, url_greek,
         url_mls, url_serieA, url_serieB,
         url_saudi]

leagues = ['seriaA', 'premier league', 'la liga', 
           'bundesliga', 'ligue 1', 'ligue 2', 
           'czech_liga', 'league one', 'league two', 
           'national_league', 'championship', 'segunda', 
           'Argentia Primera', 'A-League', 'first league', 
           'Jupiler Pro League', 'HNL', 'superliga',
           'K League 1', 'Eredivisie', 'Greek Super League',
           'Major League', 'Brazil Serie A', 'Brazil Serie B',
           'Saudi Pro League']

col_names = [
    'K thua',
    'Thua 1',
    'K thang',
    'Thang 1'
]

writer = pd.ExcelWriter("pandass.xlsx", engine="xlsxwriter")
start_row = 2
start_col = 4
max_length = 0
num_per_row = 0
idx = 1
for link, league in zip(links, leagues):

    df_empty = False
    while True:
        try:
            data = fetch_football_data(link)
        except ValueError as e:
            if str(e) == "Empty dataframe after filter":
                df_empty = True
                break
            
            print(e)
            continue
        else:
            break

    if df_empty:
        continue
            
    cols = [
        data.query('loses==0')['Home'],
        data.query('loses==1')['Home'],
        data.query('wins==0')['Home'],
        data.query('wins==1')['Home']
    ]

    for col, col_name in zip(cols, col_names):
        
        col_length = col.shape[0]
        if col_length > max_length:
            max_length = col_length

        col.to_excel(writer, startrow=start_row, startcol=start_col, index=False, header=False)

        start_col += 1

    if start_row == 2:
        start_col = 4
        workbook  = writer.book
        worksheet = writer.sheets['Sheet1']
        cell_format = workbook.add_format({'bold': True, 'italic': True})

        worksheet.write(start_row, start_col - 2, idx, cell_format)
        worksheet.write(start_row, start_col - 1, league, cell_format)
        for col_name in col_names:
            worksheet.write(start_row - 1, start_col, col_name, cell_format)
            start_col += 1
    else:
        start_col = 4
        workbook  = writer.book
        worksheet = writer.sheets['Sheet1']
        cell_format = workbook.add_format({'bold': True, 'italic': True, 'align': 'center'})

        worksheet.write(start_row, start_col - 2, idx, cell_format)
        worksheet.write(start_row, start_col - 1, league, cell_format)

    start_col = 4
    start_row += max_length
    max_length = 0
    idx += 1

writer.close()

C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")

No tables found

C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")

No tables found

C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)
C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")

No tables found

C:\Users\Phu.Vo\AppData\Local\Temp\ipykernel_33160\848853959.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)

In [6]:
url_segunda = 'https://fbref.com/en/comps/22/schedule/Major-League-Soccer-Scores-and-Fixtures'

page_html = crawl_html(url_segunda)
matches = pd.read_html(page_html, match = "Scores & Fixtures")
# df = fetch_football_data(url_segunda)
# df

data = matches[0]

C:\Users\volet\AppData\Local\Temp\ipykernel_15512\2856918370.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")

In [9]:
clean_data = data[(data['Score'].notna()) & (data['Home'] != 'Home')]
clean_data.empty

True

In [5]:
url_seriaA = 'https://fbref.com/en/comps/11/schedule/Serie-A-Scores-and-Fixtures'
url_premier_league = 'https://fbref.com/en/comps/9/schedule/Premier-League-Scores-and-Fixtures'
url_la_liga = 'https://fbref.com/en/comps/12/schedule/La-Liga-Scores-and-Fixtures'
url_bundesliga = 'https://fbref.com/en/comps/20/schedule/Bundesliga-Scores-and-Fixtures'
url_ligue_1 = 'https://fbref.com/en/comps/13/schedule/Ligue-1-Scores-and-Fixtures'

links = [url_seriaA, url_premier_league, url_la_liga, url_bundesliga, url_ligue_1]

data = fetch_football_data(url_la_liga)
cols = [data.query('loses==0')['Home'],
    data.query('loses==1')['Home'],
    data.query('wins==0')['Home'],
    data.query('wins==1')['Home']
]

col_names = ['Khong thua tran nao',
    'thua mot tran',
    'khong thang tran nao',
    'thang mot tran']

writer = pd.ExcelWriter("pandass.xlsx", engine="xlsxwriter")
start_col = 0
max_length = 0
for col, col_name in zip(cols, col_names):
    col_length = col.shape[0]
    if col_length > max_length:
        max_length = col_length
    col.to_frame(name=col_name).to_excel(writer, startcol=start_col, index=False)
    start_col += 1

writer.close()

C:\Users\volet\AppData\Local\Temp\ipykernel_9276\459492973.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")
C:\Users\volet\AppData\Local\Temp\ipykernel_9276\459492973.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['match_result'] = clean_data.apply(if_home_win, axis=1)

               Home  wins  loses  draws  total
0            Alavés     5      3      3     11
1     Athletic Club     5      4      1     10
2   Atlético Madrid    10      0      1     11
3         Barcelona    10      0      0     10
4        Celta Vigo     3      3      5     11
5             Elche     5      1      5     11
6          Espanyol     6      4      1     11
7            Getafe     3      5      2     10
8            Girona     3      4      4     11
9           Levante     1      5      3      9
10         Mallorca     4      2      4     10
11          Osasuna     6      2      2     10
12           Oviedo     1      4      5     10
13   Rayo Vallecano     2      2      6     10
14       Real Betis     6      3      1     10
15      Real Madrid     9      1      0     10
16    Real Sociedad     5      4      2     11
17          Sevilla     4      6      1     11
18         Valencia     4      2      5     11
19       Villarreal     8      2      1     11

2
2
0
2

In [15]:
col = data.query('loses==0')['Home']
col.to_frame(name='column_name').to_excel('xlfile.xlsx', sheet_name='s', index=False)

In [12]:
list(data.columns.values)

['wins', 'loses', 'draws', 'total']

In [1]:
url = 'https://fbref.com/en/comps/12/schedule/La-Liga-Scores-and-Fixtures'

In [15]:

# initialize the driver in GUI mode with UC enabled
driver = Driver(uc=True, headless=False)

# open URL with a 6-second reconnect time to bypass the initial JS challenge
driver.uc_open_with_reconnect(url, reconnect_time=6)
page_html = driver.get_page_source()

driver.close()

In [17]:
soup = BeautifulSoup(page_html)

matches = pd.read_html(page_html, match = "Scores & Fixtures")
data = matches[0]

C:\Users\volet\AppData\Local\Temp\ipykernel_27676\3207719129.py:3: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matches = pd.read_html(page_html, match = "Scores & Fixtures")

In [21]:
data

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1,Fri,2025-08-15,19:00,Girona,0.6,1–3,3.4,Rayo Vallecano,12403,Estadi Municipal de Montilivi,Javier Alberola,Match Report,NaN
1,1,Fri,2025-08-15,21:30,Villarreal,2.4,2–0,0.9,Oviedo,18333,Estadio de la Cerámica,Alejandro Muñíz,Match Report,NaN
2,1,Sat,2025-08-16,19:30,Mallorca,0.2,0–3,2.1,Barcelona,23318,Estadi Mallorca Son Moix,José Luis Munuera,Match Report,NaN
3,1,Sat,2025-08-16,21:30,Alavés,1.2,2–1,0.9,Levante,12837,Estadio de Mendizorroza,Miguel Sesma,Match Report,NaN
4,1,Sat,2025-08-16,21:30,Valencia,2.0,1–1,0.8,Real Sociedad,45333,Estadio de Mestalla,Jose Maria Sánchez,Match Report,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,38,Sun,2026-05-24,NaN,Real Betis,NaN,NaN,NaN,Levante,NaN,Estadio La Cartuja de Sevilla,NaN,Head-to-Head,NaN
429,38,Sun,2026-05-24,NaN,Mallorca,NaN,NaN,NaN,Oviedo,NaN,Estadi Mallorca Son Moix,NaN,Head-to-Head,NaN
430,38,Sun,2026-05-24,NaN,Celta Vigo,NaN,NaN,NaN,Sevilla,NaN,Estadio Abanca Balaídos,NaN,Head-to-Head,NaN
431,38,Sun,2026-05-24,NaN,Valencia,NaN,NaN,NaN,Barcelona,NaN,Estadio de Mestalla,NaN,Head-to-Head,NaN
432,38,Sun,2026-05-24,NaN,Girona,NaN,NaN,NaN,Elche,NaN,Estadi Municipal de Montilivi,NaN,Head-to-Head,NaN

In [18]:
data.describe()

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
count,393,393,393,233,393,202,212,202,393,212,393,212,393,13
unique,39,8,104,10,21,33,27,34,21,200,23,22,2,1
top,Wk,Sun,Date,21:00,Girona,1.0,1–1,1.0,Rayo Vallecano,Attendance,Estadi Municipal de Montilivi,Referee,Match Report,Notes
freq,13,223,13,70,19,16,33,19,19,13,19,13,212,13

In [43]:
df = data[(data['Score'].notna()) & (data['Home'] != 'Home')]

In [44]:
df

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1,Fri,2025-08-15,19:00,Girona,0.6,1–3,3.4,Rayo Vallecano,12403,Estadi Municipal de Montilivi,Javier Alberola,Match Report,NaN
1,1,Fri,2025-08-15,21:30,Villarreal,2.4,2–0,0.9,Oviedo,18333,Estadio de la Cerámica,Alejandro Muñíz,Match Report,NaN
2,1,Sat,2025-08-16,19:30,Mallorca,0.2,0–3,2.1,Barcelona,23318,Estadi Mallorca Son Moix,José Luis Munuera,Match Report,NaN
3,1,Sat,2025-08-16,21:30,Alavés,1.2,2–1,0.9,Levante,12837,Estadio de Mendizorroza,Miguel Sesma,Match Report,NaN
4,1,Sat,2025-08-16,21:30,Valencia,2.0,1–1,0.8,Real Sociedad,45333,Estadio de Mestalla,Jose Maria Sánchez,Match Report,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,20,Sun,2026-01-18,14:00,Getafe,NaN,0–1,NaN,Valencia,8361,Coliseum Alfonso Pérez,Isidro Díaz de Mera,Match Report,NaN
223,20,Sun,2026-01-18,16:15,Atlético Madrid,NaN,1–0,NaN,Alavés,61192,Riyadh Air Metropolitan Stadium,Guillermo Cuadra,Match Report,NaN
224,20,Sun,2026-01-18,18:30,Celta Vigo,NaN,3–0,NaN,Rayo Vallecano,20835,Estadio Abanca Balaídos,Mateo Busquets,Match Report,NaN
225,20,Sun,2026-01-18,21:00,Real Sociedad,NaN,2–1,NaN,Barcelona,36346,Reale Arena,Jesús Gil,Match Report,NaN
226,20,Mon,2026-01-19,21:00,Elche,NaN,2–2,NaN,Sevilla,22594,Estadio Manuel Martínez Valero,Ricardo de Burgos,Match Report,NaN

In [48]:
df['Score'].value_counts()

Score
1–1    33
1–0    24
2–1    19
2–0    16
0–2    13
1–2    13
0–1    11
3–1     9
0–0     9
2–2     8
3–0     7
4–0     6
0–3     6
3–2     6
1–3     5
2–3     3
4–1     2
5–0     1
1–4     1
0–4     1
6–0     1
5–2     1
3–3     1
2–4     1
3–5     1
5–1     1
Name: count, dtype: int64

In [55]:
def if_home_win(row):
    score = row['Score']
    score_array = score.split('–')

    #home win
    if int(score_array[0]) > int(score_array[1]):
        return 1
    elif int(score_array[0]) == int(score_array[1]):
        return 0
    else:
        return 2

In [56]:
df['home_win'] = df.apply(if_home_win, axis=1)

C:\Users\volet\AppData\Local\Temp\ipykernel_27676\740676004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['home_win'] = df.apply(if_home_win, axis=1)

In [57]:
df

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes,home_win
0,1,Fri,2025-08-15,19:00,Girona,0.6,1–3,3.4,Rayo Vallecano,12403,Estadi Municipal de Montilivi,Javier Alberola,Match Report,NaN,2
1,1,Fri,2025-08-15,21:30,Villarreal,2.4,2–0,0.9,Oviedo,18333,Estadio de la Cerámica,Alejandro Muñíz,Match Report,NaN,1
2,1,Sat,2025-08-16,19:30,Mallorca,0.2,0–3,2.1,Barcelona,23318,Estadi Mallorca Son Moix,José Luis Munuera,Match Report,NaN,2
3,1,Sat,2025-08-16,21:30,Alavés,1.2,2–1,0.9,Levante,12837,Estadio de Mendizorroza,Miguel Sesma,Match Report,NaN,1
4,1,Sat,2025-08-16,21:30,Valencia,2.0,1–1,0.8,Real Sociedad,45333,Estadio de Mestalla,Jose Maria Sánchez,Match Report,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,20,Sun,2026-01-18,14:00,Getafe,NaN,0–1,NaN,Valencia,8361,Coliseum Alfonso Pérez,Isidro Díaz de Mera,Match Report,NaN,2
223,20,Sun,2026-01-18,16:15,Atlético Madrid,NaN,1–0,NaN,Alavés,61192,Riyadh Air Metropolitan Stadium,Guillermo Cuadra,Match Report,NaN,1
224,20,Sun,2026-01-18,18:30,Celta Vigo,NaN,3–0,NaN,Rayo Vallecano,20835,Estadio Abanca Balaídos,Mateo Busquets,Match Report,NaN,1
225,20,Sun,2026-01-18,21:00,Real Sociedad,NaN,2–1,NaN,Barcelona,36346,Reale Arena,Jesús Gil,Match Report,NaN,1
226,20,Mon,2026-01-19,21:00,Elche,NaN,2–2,NaN,Sevilla,22594,Estadio Manuel Martínez Valero,Ricardo de Burgos,Match Report,NaN,0

In [58]:
new_df = df[['Home', 'home_win']].copy()

In [59]:
new_df

                Home  home_win
0             Girona         2
1         Villarreal         1
2           Mallorca         2
3             Alavés         1
4           Valencia         0
..               ...       ...
222           Getafe         2
223  Atlético Madrid         1
224       Celta Vigo         1
225    Real Sociedad         1
226            Elche         0

[199 rows x 2 columns]

In [68]:
def aggregate_win(list_of_results):
    sum = 0
    for result in list_of_results: # iterate over marks for all the subjects
        if result == 1:
            sum += 1 # count the number of subjects with more than 50 marks

    return sum

def aggregate_lost(list_of_results):
    sum = 0
    for result in list_of_results: # iterate over marks for all the subjects
        if result == 2:
            sum += 1 # count the number of subjects with more than 50 marks

    return sum

def aggregate_draw(list_of_results):
    sum = 0
    for result in list_of_results:
        if result == 0:
            sum += 1 

    return sum

def aggregate_total(list_of_results):
    sum = 0
    for result in list_of_results: 
        sum += 1

    return sum

In [72]:
df_to_excel = df.groupby('Home').agg(
    wins=('home_win', aggregate_win),
    loses=('home_win', aggregate_lost),
    draws=('home_win', aggregate_draw),
    total=('home_win', aggregate_total)
)

df_to_excel.to_excel('result.xlsx')

In [73]:
df_to_excel

                 wins  loses  draws  total
Home
Alavés              4      3      3     10
Athletic Club       5      4      1     10
Atlético Madrid     9      0      1     10
Barcelona           9      0      0      9
Celta Vigo          3      3      5     11
Elche               5      1      5     11
Espanyol            6      4      1     11
Getafe              3      5      2     10
Girona              3      4      3     10
Levante             0      5      3      8
Mallorca            4      2      4     10
Osasuna             6      2      2     10
Oviedo              1      4      5     10
Rayo Vallecano      2      1      6      9
Real Betis          6      3      1     10
Real Madrid         9      1      0     10
Real Sociedad       4      4      2     10
Sevilla             3      6      1     10
Valencia            3      2      5     10
Villarreal          8      1      1     10

In [76]:
df_to_excel.query('loses==0')
df_to_excel.query('loses==1')
df_to_excel.query('wins==0')
df_to_excel.query('wins==1')

                 wins  loses  draws  total
Home
Atlético Madrid     9      0      1     10
Barcelona           9      0      0      9

In [77]:
df_to_excel.query('loses==1')

                wins  loses  draws  total
Home
Elche              5      1      5     11
Rayo Vallecano     2      1      6      9
Real Madrid        9      1      0     10
Villarreal         8      1      1     10

In [78]:
df_to_excel.query('wins==0')
df_to_excel.query('wins==1')

         wins  loses  draws  total
Home
Levante     0      5      3      8

In [79]:
df_to_excel.query('wins==1')

        wins  loses  draws  total
Home
Oviedo     1      4      5     10